nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-height: 70px;
}
#inputSearch {
  max-width: 40vmax;
}
#addEvent {
  display: flex;
  align-items: baseline;
}
.dropdown {
  margin-left: 0.3125rem;
}
#create {
  margin-left: 0.3125rem;
}
.right-navbar {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
#account, #message, #notification {
  margin-left: 0.3125rem;
  margin: 0.25rem;
}
#plus {
  margin-left: 0.25rem;
}
.dropdown {
 border: 1px solid #03a9f4;
 padding: 0px;
 padding-bottom: 0px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
div h5 {
  color: #fff;
  background: #03a9f4;
  padding: 10px;
  margin: 0px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
div button{
  border: 0.1px solid #d7e7ee;
}
.staticSize {
  height: 40px;
}