nav {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 25px;
}
#inputSearch {
  max-width: 40vmax;
}
#addEvent {
  display: flex;
  align-items: baseline;
}
.dropdown {
  margin-left: 0.3125rem;
}
#create {
  margin-left: 0.3125rem;
}
.right-navbar {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
#account, #message, #notification {
  margin-left: 0.3125rem;
}
#plus {
  margin-left: 0.25rem;
}

.dropdown {
 padding: 0px;
 padding-bottom: 0px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

div h5 {
  padding: 10px;
  margin: 0px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
}

.account-button-focus:focus {
  background: #27ae60;
}

.message-button-focus:focus {
  background-color: #3498db;
}

#message-droptown {
  border: 1px solid #3498db;
}

#message-droptown h5 {
  background: #3498db;
}

#account-droptown {
  border: 1px solid #27ae60;
}

#account-droptown h5 {
  background: #27ae60;
}
div button{
  border: 0.1px solid #d7e7ee;
}
.staticSize {
  height: 40px;
}
@media (max-width: 570.00px) {
  .right-navbar {
    margin-top: 10px;
  }
}