<div>
  <h1 mat-dialog-title value style="text-align: center">Zmiana danych</h1>
  <div mat-dialog-content>
    <p style="text-align: center">{{ description }}</p>

    <div *ngIf="isGender == true; then gender; else another"> </div>
    <ng-template #gender>
      <!-- <select [(ngModel)]="data.value">
      <option *ngFor="let c of category" [ngValue]="c">{{c}}</option>
    </select> -->

      <div>
        <label class="radio-inline">
          <input type="radio" value="Mężczyzna" name="gender" [(ngModel)]="data.value">
          Mężczyzna
        </label>
        <label class="radio-inline" style="margin-left: 10px;">
          <input type="radio" value="Kobieta" name="gender" [(ngModel)]="data.value">
          Kobieta
        </label>
      </div>
    </ng-template>

    <ng-template #another>
      <mat-form-field>
        <input matInput style="text-align: center" [(ngModel)]="data.value">
      </mat-form-field>
    </ng-template>
  </div>
  <div mat-dialog-actions style="display: flex; justify-content: center">
    <button class="btn btn" mat-button (click)="onNoClick()">Anuluj</button>
    <button class="btn btn-success" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>