.dropdown {
    margin-left: 0.3125rem;
}
#create {
    margin-left: 0.3125rem;
}
#account, #message, #notification {
    margin-left: 0.3125rem;
}
ul, li {
    border: 10px static red;
}
/* #navbar-right {
    border: 1px red solid;
    display: flex;
    justify-content: flex-end;
} */
#navbarSupportedContent {
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
}

/* #right-navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    border: 1px solid red;
}  */
/* nav { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* align-items: stretch;
 } */
