#advertisementList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 10vh;
  padding-right: 10vh;
}
.advertisement {
  /* position: relative; */
  margin: 5px;
  padding: 7px;
  display: flex;
  flex-flow: column wrap;
  width: 350px;
  height: 110px;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  border: 0.5px solid #487eb0;
  background-color: white;
}
.advertisement:hover {
  box-shadow: 0 15px 30px rgba(0,0,0,1);
  background-color: #d2dcf3;
}
span{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.numberCircle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 2px; 
  background: #fff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);;
  text-align: center; 
  /* font: 11px Arial, sans-serif; */
  /* font-size: 11px; */
  font: 10px 'Poppins', sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,1);
}
.numberCircle:hover {
  background: #487eb0;
  color: #fff;
  box-shadow: 0px 8px 16px rgba(0,0,0,1);
}
#calendar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
#calendar > * {
  margin-right: 0.125rem;
}
.month {
  /* font: 10px Arial, sans-serif; */
  font: 10px 'Poppins', sans-serif;

  /* font-size: 10px; */
}
fa-icon {
  margin-right: 0,125px;
}
p {
  margin: 0px;
  padding: 2px;
}
.showTime{
  border: 1.5px solid #487eb0;
  border-radius: 10px;
  background-color: white;
  top:0;
  left:0;
  z-index: 1;
}
.inscription {
  padding: 10px;
  margin: 0px;
  font-size: 16px;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  background-color: #487eb0;
}
@media (max-width: 575.98px) {
  #advertisementList {
    padding-left: 0px;
    padding-right: 0px;
  }
}