<div id="advertisementList">
  <div
    class="advertisement rounded"
    *ngFor="let advertisement of advertisements; let i = index">
    <a [routerLink]="['/detail/', advertisement.id]"  style="text-decoration: none; color: inherit">
      <div style="text-align: center; font-weight:bold; font-size: 20px; margin-bottom: 6px;" [title]="'Sport: ' + advertisement.sport">{{ advertisement.sport | firstUppercase | truncate:[13, '...'] }} </div>
      <div class="row">
        <div class="col">
          <span [title]="'Miasto: ' + advertisement.city"><fa-icon [icon]="iconCity"></fa-icon> {{ advertisement.city | firstUppercase | truncate:[16, '...'] }} </span>
          <span [title]="'Ulica: ' + advertisement.street"><fa-icon [icon]="iconSteet"></fa-icon> {{ advertisement.street | firstUppercase | truncate:[16, '...'] }} </span>
        </div>
        <div class="col">
          <div id="calendar" appTimeOfGameView [timeOfGameArray]="advertisement.timeOfGame" appShowTime>
            
          </div>
          
        </div>
      </div>
    </a>
  </div>
</div>