<div class="form-container">
    <h3>Wydarzenie sportowe</h3>
    <form>
      <div id="content">
        <div id="basicInformation">
          <h4> Podstawowe dane</h4>
  
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Wybrany Sport" aria-label="Number" [ngModel]="advertisement?.sport" name="sport" disabled>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Miasto" [ngModel]="advertisement?.city" name="city" disabled>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Ulica" [ngModel]="advertisement?.street" name="street" disabled>
          </mat-form-field>
  
          <div *ngIf="advertisement?.url">
            <h6>Link do wydarzenia</h6>
            <a (click)="onNavigate()" target="_blank"> {{advertisement?.url}} </a>
          </div> 

          <div *ngIf="advertisement?.timeOfGame">
            <div id="details">
              <h5>Wybrano terminy</h5>
              <span id="calendar" appTimeOfGameView [timeOfGameArray]="advertisement.timeOfGame"></span>
            </div>
          </div>
        </div> 
  
        <div id="participants">
          <h4>Uczestnicy</h4>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Minimalna ilość uczestników"  [ngModel]="advertisement?.minNumberOfParticipants" name="minNumberOfParticipants" disabled> 
            </mat-form-field>
  
            <mat-form-field >
                <input matInput placeholder="Maksymalna ilość uczestników" [ngModel]="advertisement?.maxNumberOfParticipants" name="maxNumberOfParticipants" disabled>
            </mat-form-field>

            <mat-form-field >
                <input matInput placeholder="Aktualna ilość uczestników" [ngModel]="advertisement?.actualNumberOfParticipants" name="actualNumberOfParticipants" disabled>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5"
                #message maxlength="256"
                placeholder="Opis wydarzenia"
                [ngModel]="advertisement?.description"
                name="description"
                disabled>
              </textarea>
            </mat-form-field>
        </div>
       
        <div *ngIf="session.authenticated"> 
            <div class="button123" *ngIf="participant == 'true'; then remove123; else join123">
            </div> 
        </div>
      </div>  
    </form>
  </div>

  <ng-template #remove123>
      <button class="btn btn-dark submit" (click)=delete()>Opuść to wydarzenie</button>
  </ng-template>
  
  <ng-template #join123>
      <button class="btn btn-success submit" (click)=submit()>Dołącz do wydarzenia</button>
  </ng-template>