.col {
    display: flex;
    flex-flow: column nowrap;
} 
#content {
    padding-left: 10vh;
    padding-right: 10vh;
    margin: 1.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
} 
.top {
    display: flex;
    align-items: center;
    justify-content: center;

}
.top > * {
    margin: 10px;
} 
.card {
    padding: 10px;
    border: 1px solid rgb(168, 168, 168);
}
#addEvent {
    background-color: dodgerblue; 
}
#addEvent:hover {
    background-color: rgb(46, 46, 204);
}
#removeEvent {
    background-color: #f03c3c;
}
#removeEvent:hover {
    background-color: #ff0000;
}
#event  {
    display: flex;
    flex-flow: row nowrap;
}
#calendar {
    display: flex;
    justify-content: center;
}
#event > * {
    margin-right: 1rem;
}
@media (max-width: 575.98px) {
    #content {
        padding: 1vh;
        margin: 1.25rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        margin-left: 2.25rem;
        margin-right: 2.25rem;
    }
}
.numberCircle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 2px; 
    background: #fff;
    color: rgb(0, 0, 0);;
    text-align: center; 
    font: 14px Arial, sans-serif;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 2px 6px rgba(0,0,0,1);
}
.numberCircle:hover {
    background: rgb(96, 177, 96);
    box-shadow: 0px 8px 16px rgba(0,0,0,1);
}
input[disabled] {
    color:rgb(0, 0, 0);
}
textarea[disabled] {
    color:rgb(0, 0, 0);
}
#eventManagement{
    display: flex;
    flex-flow: row nowrap;
}